@page
@model EditModel

<h2>Edit Account</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Account.AccountHolderName"></label>
        <input asp-for="Account.AccountHolderName" class="form-control" />
        <span asp-validation-for="Account.AccountHolderName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Account.Email"></label>
        <input asp-for="Account.Email" class="form-control" />
        <span asp-validation-for="Account.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Account.Password"></label>
        <input asp-for="Account.Password" class="form-control" type="password" />
        <span asp-validation-for="Account.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Account.Balance"></label>
        <input asp-for="Account.Balance" class="form-control" type="number" />
        <span asp-validation-for="Account.Balance" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
